---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
  {{ content }}
  <hr/>
  {% if author %}
    <span>
      <a href="{{ author.url }}" target="_blank">{{author.name}}</a> is a NYC based freelance software developer. <a href="{{ author.twitter }}" target="_blank">Follow him on Twitter</a> or <a href="mailto:{{ author.email }}" target="_blank">send him an email</a> if your looking for a talented developer.
    </span>
  {% endif %}
  <br/>
  {% include mailchimp_signup.html %}
</article>
{% include comments.html %}
<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
